<div class="sliderFull">
				<div class="slider fullscreen">
					<ul class="slides">
						<li><img  src="/images/Departamentos/1.jpg"></li>
						<li><img  src="/images/Departamentos/2.jpg" ></li>
						<li><img src="/images/Departamentos/3.jpg"></li>
            <li><img src="/images/Departamentos/4.jpg"></li>
					</ul>
				</div>
			</div>
<div id="icons">
  <img src="/icons/Flecha_Izquierda.svg" class="arrows" (click)="prevSlide()">
  <img src="/icons/Flecha_Derecha.svg" class="arrows" (click)="nextSlide()">
</div>

<div id="verMas" class="center-align">
  <div id="mas" (click)="openMas()">
      <img src="/icons/Flecha_Arriba_Azul.svg" class ="arrow-up">
			<div style="padding-top:20px;">
				  <h4 >Torre A</h4><img src="/icons/circle.svg"  class="dot"> <h4>Torre B</h4>
			</div>
  </div>


  <div id="verMasAfter" >
    <div id="menos" class="menos" (click)="closeMas()">
        <h4 class="activeh4">Torre A</h4> <img src="/icons/circle.svg" class="dot"> <h4>Torre B</h4>
      <img src="/icons/Flecha_Abajo_Azul.svg" class ="arrow-down" >
  </div>


    <h5 class="center-align active">Acabados</h5> <h5 class="center-align">Departamenos</h5>
    <hr>
      <ul class="left-align" id="acabadosTA" style="display=none;">
        <li>Laminado y porcelanato en piso</li>
        <li>Muebles de baño</li>
        <li>Lámparas</li>
        <li>Closets</li>
        <li>Puertas</li>
        <li>Cocina equipada</li>
        <li>Cubiertas de granito</li>
        <li>Lavadero / Calentador</li>
        <li>Muros acabados en pintura</li>
        <li>Dos lugares de estacionamiento</li>
      </ul>

      <div id="departamentosTA">
        <div class="row">
          <h5 class="center-align activeh5">GH 1</h5> <h5 class="center-align">Tipo 1</h5> <h5 class="center-align">Lofts</h5>
        </div>
        <div id="info">
        <div class="info-text">
          <table >
            <tr>
              <th>Recamaras:</th>
              <th class= "light">3</th>
            </tr>
            <tr>
              <th>Baños:</th>
              <th class= "light">3 completos</th>
            </tr>
            <tr>
              <th>Interior:</th>
              <th class= "light">129.5 m2</th>
            </tr>
            <tr>
              <th>Jardin:</th>
              <th class= "light">26 m2</th>
            </tr>
            <tr>
              <th>Area Total:</th>
              <th class= "light">155.5 m2</th>
            </tr>
		      </table>
          <div id="otros">
          <p><strong>Otros:</strong><br>
            Estudio con opción de<br>
            convertirse en una<br>
            tercer recámara<br>
            Cocina<br>
            Sala Comedor<br>
            Patio de Lavado<br>
          </p>
          </div>
				 </div>

				<div class="bprint">
					<div style="position:relative">
						<img src="/images/Departamentos/Planos/TorreA_GH1.png" id="imgbp">
						<div id="btnbp">
							<p id="estudio" class="active"  (click) = "estudio()"> Estudio  </p>
							<p>|</p>
							<p id="recamara" (click) = "recamara()">Recamara</p>
						</div>
					</div>
				  <button class="btn-contacto btn interesado" type="submit" name="action">¡ESTOY INTERESADO!</button>
			</div>

        </div>
      </div>
  </div>
</div>
