<div class="slider fullscreen">
    <ul class="slides">
      <li>
        <div id="background-1" class ="background"></div>
      </li>
      <li>
        <div id="background-2" class ="background">
          <!-- <div class="logo-over"><img src="/logos/Logo_Blanco.svg" alt="Valeria" ></div> -->
        </div>
      </li>
      <li>
        <div id="background-3" class ="background"></div>
      </li>
      <li>
        <div id="background-4" class ="background"></div>
      </li>
    </ul>
</div>

<div id="icons">

  <img src="/icons/Flecha_Izquierda.svg" class="arrows" (click)="prevSlide()">
  <img src="/icons/Flecha_Derecha.svg" class="arrows" (click)="nextSlide()">
</div>
