.sliderFull {
    height: 100%;
    margin-bottom: 0px;
}
#icons{
	position: fixed;
	bottom: 50%;
	right: 5%;
	z-index: 10;

	.arrows{
		cursor: pointer;
		background-color: #E3E3E5;
		border-radius: 15px;
	}
}
