<div class="sliderFull">
				<div class="slider fullscreen">
					<ul class="slides">
						<li><img  src="/images/Imagenes/1.jpg"></li>
						<li><img  src="/images/Imagenes/2.jpg" ></li>
						<li><img src="/images/Imagenes/3.jpg"></li>
            <li><img src="/images/Imagenes/4.jpg"></li>
            <li><img src="/images/Imagenes/5.jpg"></li>
					</ul>
				</div>
			</div>
<div id="icons">
  <img src="/icons/Flecha_Izquierda.svg" class="arrows" (click)="prevSlide()">
  <img src="/icons/Flecha_Derecha.svg" class="arrows" (click)="nextSlide()">
</div>
