#content {

  #wrapper {

    hr {
      width: 7%;
      border: 1px solid #C4A833;
    }

    h4 {
      font-family: Futura-Medium;
      font-weight: 100;
      font-size: 1.3em;
      margin-bottom: 0;
    }

    p {
      font-family: Futura;
      color: #4C535F;
      font-size: 1.2em;
      margin-bottom: 3%;
    }

    #aviso {
      cursor: pointer;
      margin-bottom: 10px;
    }
  }
}

#privacidad {
  display: none;
  height: 0%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #373B44;
  text-align: center;
  z-index: 1000;
  transition: 0.5s;

  p {
    font-family: Futura;
    margin: 5% 8%;
    color: #fff;
    font-size: 0.75em;
    text-align: justify;
  }

  .logo {
    margin-top: 7%;
    text-align: center;
  }

  .logo img {
    width: 200px;
  }

  .arrow-down {
    cursor: pointer;
    right: 5px;
    position: absolute;
    height: 30px;
    width: 30px;
    padding-right: 5px;
    padding-top: 20px;
  }
}


img {
  width: 180px;
  text-align: center;
}

#courtain {
  position: fixed;
  width: 0;
  right: 0;
  top: 0;
  z-index: 100;
  color: #FFFFFF;
  font-family: Futura-Light;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  -ms-transition: 0.4s;

  #pestaña {
    width: 50px;
    text-align: center;
    float: left;
    height: calc(100vh - 70px);
    margin: 70px 0 0 -50px;

    p {
      background-color: #363D45;
      width: 160px;
      cursor: pointer;
      position: absolute;
      left: -95px;
      padding: 5px 10px;
      margin: 0;
      -webkit-transform: rotate(-90deg); 
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg);
    }
  }

  #courtain-content {
    width: 100%;
    min-height: 100vh;
    z-index: 100;
    background-color: #363D45;

    #courtain-content-wrapper {
      padding-top: 25px;
      text-align: center;
      opacity: 0;
      transition: 0.2s;
      -webkit-transition: 0.2s;
      -moz-transition: 0.2s;
      -o-transition: 0.2s;
      -ms-transition: 0.2s;

      #close-icon-wrapper {
        margin-bottom: 25px;

        .cerrar-icon {
          width: 25px;
          cursor: pointer;
          margin-right: 25px;
        }
      }

      .no-margin-right {
        margin-right: 0 !important;
      }

      .no-margin-left {
        margin-left: 0 !important;
      }

      h6 {
        max-width: 420px;
        margin: 0 auto 25px auto;
        line-height: 1.5;
        font-size: 1.1rem;
        padding: 0 10px;
      }

      .arrow {
        width: 60px;
        margin: 0 auto;
        cursor: pointer;
      }

      #slides-wrapper {
        width: 100%;
        position: relative;
      }

      .slide {
        width: 100%;
        left: 0;
        right: 0;
        position: absolute;
        opacity: 0;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        transition: 0.8s ease;
        -webkit-transition: 0.8s ease;
        -moz-transition: 0.8s ease;
        -o-transition: 0.8s ease;
        -ms-transition: 0.8s ease;
      }

      .show-opacity {
        opacity: 1;
      }

      #slide-1 {
        background-image: url(images/contacto/slide-01.png);
      }

      #slide-2 {
        background-image: url(images/contacto/slide-02.png);
      }

      #slide-3 {
        background-image: url(images/contacto/slide-03.png);
      }

      #slide-4 {
        background-image: url(images/contacto/slide-04.png);
      }

      #slide-5 {
        background-image: url(images/contacto/slide-05.png);
      }

      .logo {
        margin-top: 40px;
      }
    }
  }
}

@media screen and (max-width : 992px)  {

  #contact-mob {
    width: 100%;
    background-color: #CECECE;
    text-align: center;
    margin-top: 16px;
    font-family: Futura-Book;
    padding: 12px;
    font-size: 1.6em;
    box-shadow: 1px 1px 1px 1px rgba(169, 166, 166, 0.7);
  }

  #content {
    padding: 70px 0 20px 0;

    #wrapper {
      background-color: #FFF;
      margin-top: 30px;
      padding: 5px 0;
      box-shadow: 1px 1px 1px 1px rgba(169, 166, 166, 0.7);
    }
  }

  #privacidad {
    overflow-y: scroll;

    .logo img {
      width: 120px;
    }
  }

  #courtain {

    #courtain-content {

      #courtain-content-wrapper {

        h6 {
        }

        .carr-div {
          height: 300px;
        }

        .slide {
          height: 300px;
        }

        .logo {
        }
      }
    }
  }
}

@media  screen and (min-width : 992px)  {

  #content {
    padding-top: 5%;

    #wrapper {
    }
  }

  #courtain {

    #courtain-content {

      #courtain-content-wrapper {

        h6 {
        }

        .carr-div {
          height: 350px;
        }

        .slide {
          height: 350px;
        }

        .logo {
        }
      }
    }
  }
}
