#fullpage{
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #F2F2F2;
  text-align: center;
}

hr{
  width: 7%;
  border: 1px solid #C4A833;
}

h4{
  font-family: Futura-Medium;
  font-weight: 100;
  font-size: 1.3em;
  margin-top: 5%;
  margin-bottom: 0;
}

p{
  font-family: Futura;
  color: #4C535F;
  font-size: 1.2em;
  margin-bottom: 3%;
}

#aviso{
  cursor: pointer;
  margin-bottom: 10px;
}

#privacidad{
  display: none;
  height: 0%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  background-color: #373B44;
  text-align: center;
  z-index: 1000;
  transition: 0.5s;

  p{
    font-family: Futura;
    margin: 5% 8%;
    color: #fff;
    font-size: 0.75em;
    text-align: justify;
  }
}


img{
  width: 180px;
  text-align: center;
}

.logo{
  margin-top: 7%;
  text-align: center;
}
.logo img {
width: 200px;
}

.arrow-down{
  cursor: pointer;
  right: 5px;
  position: absolute;
  height: 30px;
  width: 30px;
  padding-right: 5px;
  padding-top: 20px;
}


#mobile{
  display: none;
}


@media  screen and (max-width : 1024px)  {
 #web{
   display: none;
 }
 #mobile{
   display: block;
 }
}

@media  screen and (max-width : 550px)  {
.logo img{
    width: 120px;
  }
}
