<div id="web">
  <div id="fullpage">
    <h4>PUEBLA</h4>
    <hr>

    <p>Sandra Daguer <br>
    (222) 466 2989 <br>
    sandydaguer@hotmail.com</p>

      <p>Sonia Garcés <br>
      (55) 2272 0108<br>
      garces_ventosa@hotmail.com</p>

    <h4>CDMX</h4>
    <hr>

    <p>Bernardo Shapiro<br>
    (55) 5257 2092<br>
    bernardo@nexosin.com</p>
    <button class="btn-contacto btn-large"  (click)="openNav()">¡ESTOY INTERESADO!</button>
    <p id="aviso" (click)="openAviso()">Aviso de Privacidad</p>
  </div>
</div>

<div id="mobile" class="mobilesection">
  <h5 class="center-align title-mob">CONTACTO</h5>
  	<div class="center-align box" >
      <h4>PUEBLA</h4>
      <hr>

      <p>Sandra Daguer <br>
      (222) 466 2989 <br>
      sandydaguer@hotmail.com</p>

        <p>Sonia Garcés <br>
        (55) 2272 0108<br>
        garces_ventosa@hotmail.com</p>

      <h4>CDMX</h4>
      <hr>

      <p>Bernardo Shapiro<br>
      (55) 5257 2092<br>
      bernardo@nexosin.com</p>
      <button class="btn-contacto btn-large"  (click)="openNav()">¡ESTOY INTERESADO!</button>
      <p id="aviso" (click)="openAviso()">Aviso de Privacidad</p>
    </div>
  </div>
</div>

<overlay></overlay>
<div id="privacidad">
  <img src="/icons/Flecha_Abajo_Gris.svg" class ="arrow-down" (click)="closeAviso()">
  <div class="logo"><img src="/logos/Logo_Blanco.svg" alt="Valeria" ></div>
  <p>Estos materiales no tienen la intención de ser una oferta de venta, o la solicitud de compra de una unidad en el condominio. Dicha oferta sólo se hará de conformidad con el folleto (circular de oferta) para el
  condominio y no se debe confiar en ninguna declaración a menos que se haga en el folleto o en el acuerdo de compra aplicable. En ningún caso se realizará ninguna solicitación, oferta o venta de una unidad en el condominio
  en, ni a residentes de, ningún estado o país en el cual dicha actividad sería ilegal. Ningún corredor o vendedor de bienes raíces está autorizado a hacer representaciones u otras declaraciones con respecto a este
  proyecto, y ningún acuerdo con, los depósitos pagados u otros arreglos hechos con cualquier corredor de bienes raíces son o serán obligatorios para el desarrollador. Todos los diseños, planos, bocetos, materiales
  gráficos, precios, especificaciones, términos, condiciones, declaraciones, características, dimensiones, comodidades, vistas existentes o futuras y fotos representadas o descritas aquí se proponen y son conceptuales y
  se basan en planes preliminares de desarrollo, los cuales están sujetos a revisiones y otros cambios, sin previo aviso, de la manera prevista en el contrato de compra y en la circular de oferta. Todas las características
  listadas para las residencias son sólo representativas, y el Desarrollador se reserva el derecho, sin previo aviso o aprobación por parte del Comprador, de realizar cambios o sustituciones de igual o mejor calidad de
  características, materiales y equipos que se incluyen con la unidad. Las dimensiones de unidades indicadas o mostradas en los folletos variarán de las dimensiones finales, las cuales serán determinadas al completarse
  el proyecto. Cualquier vista desde cualquier unidad o de otras partes de la propiedad puede en el futuro ser limitada o eliminada por el desarrollo futuro o fuerzas de la naturaleza. Alentamos y apoyamos el ideal en
  el cual no hay barreras para obtener vivienda debido a raza, color, sexo, religión, discapacidad, estatus familiar o de origen nacional.</p>


<a href="www.wearebolt.co"><img src="logos/DesignedbyBolt.svg"></a>

</div>
