#where-header {
	padding-top: 60px;

	#where {
		padding-top: 6px;
		padding-bottom: 16px;
		background-color: #000000;

		h4 {
			font-family: 'Mermaid-Bold';
			color: #F5E028;
		}

		h5 {
			font-family: 'Palatino-Roman';
			color: #F5E028;
		}
	}
}

#location {
	padding-bottom: 40px;

	.col {
		padding: 0;
	}

	#map {
		height: 400px;
	}

	#info {
		height: 400px;
		padding: 45px 0 0 65px;
		border: 6px solid #F5E028;

		#yellow-arrow {
			color: #F5E028;
			font-size: 28px;
			position: absolute;
			margin-top: 17px;
    		margin-left: -8px;
		}

		.arrow-right {
		  	width: 0;
		  	height: 0;
		  	position: absolute;
		    margin-top: 26px;
		    margin-left: -5px;
		  	border-top: 10px solid transparent;
		  	border-bottom: 10px solid transparent;
		  	border-left: 15px solid #F5E028;
		}


		.border {
			width: 150px;
			height: 50px;
			text-align: center;
			font-family: 'Mermaid-Bold';
			margin-bottom: 50px;
			border: 3px solid #000000;
			padding: 10px 15px 7px 15px;
			cursor: pointer;
		}

		#black-arrow {
			font-size: 12px;
		}

		#address-wrapper {
			margin-left: 22px;
			margin-top: -25px;
		}

		h6 {
			font-family: 'Palatino-BoldItalic';
			margin-bottom: 15px;
			font-size: 16px;
		}

		.text {
			font-family: 'Palatino-Italic';
			margin: -2px;
		}

		#mail {
			font-family: 'Palatino-Italic';
			cursor: pointer;
		}
	}
}