<div id="where-header">
	<div class="center" id="where">
		<h4>MX</h4>
		<h5>{{time}}</h5>
	</div>
</div>

<div class="row" id="location">
	<div class="col s12 m6" id="map"></div>
	<div class="col s12 m6" id="info">
		<!-- <span id="yellow-arrow">&#9658;</span> -->
		<div class="arrow-right"></div>
		<h5 class="border" (click)="mail()">Hire us.</h5>
		<span id="black-arrow">&#9655;</span>
		<div id="address-wrapper">
			<h6>Mexico City</h6>
			<p class="text">Bosque de Radiatas 32 int. 201</p>
			<p class="text">Bosques de las Lomas</p>
			<p class="text">Cuajimalpa, CDMX</p>
		</div>
	</div>
</div>

<footer></footer>