<div class="center" id="header">
	<div id="header-wrapper" [ngStyle]="{'background': project.color}">
		<h3>{{project.title}}</h3>
		<h6>{{project.subtitle}}</h6>
	</div>
</div>

<div id="content">
	<div class="container">
		<div id="content-wrapper">
			<!-- The carousel is handled in the typescript file because the *ngFor is buggy -->
			<div class="carousel carousel-slider" id="project-carousel"></div>

			<div class="row">
				<div class="col s12 m3" id="info">
					<p><span>Client: </span>{{project.title}}</p>
					<p><span>Year: </span>{{project.year}}</p>
					<p><span>Client location: </span>{{project.location}}</p>
					<div>
						<p><span>Deliverables:</span></p>
						<p class="deliverable" *ngFor="let task of project.tasks">{{task}}</p>
					</div>
				</div>
				<div class="col s12 m9" [ngSwitch]="project.slug" id="description">
					<div *ngSwitchCase="'flirt'">
						<p>Flirt es una plataforma cloud que te permite generar micrositios para vender productos o servicios online en cuestión de minutos.</p>
						<p>A través de un plan de renta mensual puedes generar las páginas que quieras e incluye todas las integraciones que necesitas para que sean exitosas.</p>
						<p>Para esto desarrollamos el generador de micrositios, hicimos la integración con el procesador de pagos, está conectado a una empresa de envíos para reducir el costo de tus guías a nivel nacional, tiene un CRM integrado para que puedas llevar la gestión de tu embudo de ventas y un administrador de campañas para que puedas manejar el marketing de tus páginas, todo en un solo lugar.</p>
						<p>El soft launch de Flirt está planeado para Octubre de 2017 con algunas empresas mexicanas con las que estamos haciendo alianza y esperamos abrirlo al público muy pronto.</p>
						<a class="project-link" href="http://www.flirtwith.it/" target="_blank">Ver proyecto</a>
					</div>
					<div *ngSwitchCase="'valiara'">
						<p>Valiara es un desarrollo inmobiliario de lujo en Angelópolis, la zona con más plusvalía de la ciudad de Puebla.</p>
						<p>El concepto de Valiara lo desarrollamos tomando en cuenta las consideraciones que nos pidió el cliente:</p>
						<p>Hablar de estatus pero sobre todo de calidad de vida, transmitir la paz que se siente en los departamentos, la seguridad y comodidad de sus espacios. Que el concepto hable por si solo, 26 lujosos departamentos rodeados de muros de cristal con la mejor vista de la ciudad.</p>
					</div>
					<div *ngSwitchCase="'kii'">
						<p>Kii es una empresa mexicana de telecomunicaciones que se dedica a proyectos de infraestructura de redes.</p>
						<p>La empresa atiende a un sector emergente, el sector residencial y los negocios medianos, la gran mayoría de las empresas del ramo se enfocan en el sector corporativo y/o gubernamental.</p>
						<p>Para abrir brecha en un mercado prácticamente nuevo, desarrollamos una estrategia de marketing innovadora, creamos una herramienta de Speed Test para dar a conocer el servicio a usuarios finales.</p>
						<p>A través de esta herramienta y en conjunto con una comunicación divertida en redes sociales re-dirigimos a los usuarios a un sitio web que obtiene sus datos más relevantes, esto le permite a los agentes de ventas darle seguimiento personalizado a cada cliente.</p>
						<a class="project-link" href="https://www.wifideverdad.mx/" target="_blank">Ver proyecto</a>
					</div>
					<div *ngSwitchCase="'new-fiction-films'">
						<p>La productora mexicana de contenido audiovisual New Fiction Films, está trasgrediendo la barrera del cine y lo digital.</p>
						<p>Con una propuesta fresca, cruda, sin pretenciones y una estética muy cuidada, David Zonana y Darío Yázbek son la nueva cara del cine mexicano.</p>
						<p>Plasmar esa propuesta en su comunicación digital fue nuestro reto.</p>
						<a class="project-link" href="http://www.newfiction.mx/" target="_blank">Ver proyecto</a>
					</div>
					<div *ngSwitchCase="'iniciativa-luz'">
						<p>Iniciativa Luz es una plataforma en la nube para concentrar a los proveedores de sistemas solares y de energía renovables en México, es decir, a los proveedores de energía que no son parte de la red eléctrica del país.</p>
						<p>Será la primera vez que se lleva un registro de esta información, además, permitirá a los proveedores donar parte de esta energía generada a comunidades que no están cerca de la red eléctrica.</p>
						<p>Estamos orgullosos de ser parte de este proyecto y esperamos que tenga un gran impacto para cerrar la brecha energética que aún existe en nuestro país.</p>
					</div>
					<div *ngSwitchCase="'luuma'">
						<p>Luuma es una empresa que tiene su origen en Tabasco pero que inicia operaciones en la Ciudad de México por cuestiones de estrategia.</p>
						<p>Tabasco tiene una larga tradición como capital energética del país y ahora busca volver a tener esa importante presencia a través de la energía renovable.</p>
						<p>Buscamos reflejar la importancia de las raíces de la empresa con la identidad de la marca. El logotipo tiene una sólida relación a través de los elementos y colores con emblemas propios de la entidad.</p>
						<p>Para el lanzamiento de la marca, preparamos una agresiva estrategia digital para competir con marcas ya establecidas en el mercado.</p>
					</div>
					<div *ngSwitchCase="'navento'">
						<p>Navento es una plataforma web para encontrar las mejores experiencias en el litoral mexicano.</p>
						<p>A través de un servicio de “booking” similar al de Airbnb, podrás vivir experiencias únicas como pesca de langosta en un catamarán o nadar con tiburones.</p>
						<p>Diseñar la interfaz de Navento fue un reto muy interesante porque pudimos jugar con colores muy vivos, poco usuales y elementos como estrellas de mar para el sistema de rating, un proyecto muy divertido que esperamos que cuando se lance la gente lo disfrute igual que lo que nosotros haciéndolo, además que sabemos que le dará exposición mundial a las playas y costas de México.</p>
					</div>
					<div *ngSwitchCase="'dosal-duclaud'">
						<p>La firma de abogados Dosal & Duclaud, es una de las firmas más reconocidas en los ámbitos de Seguridad Social y Comercio Exterior y Aduanas en México.</p>
						<p>Para los socios, su identidad en medios digitales debía reflejar la humanidad y profesionalismo por la que se caracterizan tanto ellos como la firma.</p>
						<p>Es por eso que hicimos un rediseño de la identidad del despacho, un sitio web completamente nuevo y una sesión de fotos tanto para web como en formato vertical para tener contenido exclusivo para dispositivos móviles.</p>
						<p>El siguiente paso, lanzar la nueva imagen de la mano de una estrategia sólida en medios digitales para posicionar los servicios y las cualidades que hacen de Dosal & Duclaud un despacho único.</p>
						<a class="project-link" href="http://www.dosalduclaud.mx/" target="_blank">Ver proyecto</a>
					</div>
					<div *ngSwitchCase="'fitry'">
						<p>Fitry es una app de para comprar zapatos con un componente de Realidad Virtual para que puedas "probarte" cualquier zapato en la tienda.</p>
						<p>La identidad que propusimos para Fitry es en base a tipografía y elementos geométricos que encuadran tanto las palabras que componen el nombre Fit & Try del logotipo, como unos corchetes estilizados que el usuario puede usar para apuntar a su pie y probarse la enorme colección de zapatos que puede seleccionar del catálogo dentro de la aplicación.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<footer></footer>