
html {
    height: 100%;
		width: 100%;
}

#background-1 {
	height: 100%;
	width: 100%;
	background: url(/images/portada.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	h2 {
		text-align: center;
	}

 h5 {
	text-align: center;
	color: #4C535F;
	font-family: Futura-Book;
	font-size: 1.5em;
	}

}

.logo{
  padding-top: 15px;
  text-align: center;
}
.logo img {
width: 150px;
}

.button-div{
	text-align: center;
	padding-top: 40px;
}
.button{
	font-family: Futura-Book;
	color:  #dfdcdc;
	text-align: center;
	font-size: 1.4em;
	border: 1px solid #4C535F;
  background-color: #4C535F;
  padding: 12px 26px;
  -o-transition: background-color .2s ease-in;
 	-moz-transition: background-color .2s ease-in;
 	-webkit-transition: background-color .2s ease-in;
 	transition: background-color .2s ease-in;
	box-shadow: 1px 1px 1px 1px rgba(78, 76, 76, 0.9);
}

@media  screen and (max-width : 1024px)  {
  #background-1 {
  	height: 100%;
  	width: 100%;
  	background: url(/mobile/Portada.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

  	h2 {
  		text-align: center;
  	}

   h5 {
  	text-align: center;
  	color: #fff;
  	font-family: Futura-Book;
  	font-size: 1.5em;
  	}

  }

  .logo{
    padding-top: 15px;
    text-align: center;
  }
  .logo img {
  width: 150px;
  }

  .button-div{
  	text-align: center;
  	padding-top: 40px;
  }
  .button{
  	font-family: Futura-Book;
  	color:  #dfdcdc;
  	text-align: center;
  	font-size: 1.4em;
  	border: 1px solid #4C535F;
    background-color: #4C535F;
    padding: 12px 26px;
    -o-transition: background-color .2s ease-in;
   	-moz-transition: background-color .2s ease-in;
   	-webkit-transition: background-color .2s ease-in;
   	transition: background-color .2s ease-in;
  	box-shadow: 1px 1px 1px 1px rgba(78, 76, 76, 0.9);
  }
}
