
html {
    height: 100%;
		width: 100%;
}

#background-1 {
	height: 100%;
	width: 100%;
	background: url(/images/portada.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

	h2 {
		text-align: center;
	}
	.logo{
		padding-top: 15px;
		text-align: center;
	}
	.logo img {
  width: 150px;
}
 h5 {
	text-align: center;
	color: #4C535F;
	font-family: Futura-Book;
	font-size: 1.5em;
	}

}

.button-div{
	text-align: center;
	padding-top: 40px;
}
.button{
	font-family: Futura-Book;
	color:  #dfdcdc;
	text-align: center;
	font-size: 1.6em;
	border: 1px solid #4C535F;
  background-color: #4C535F;
    padding: 10px 20px;
     -o-transition: background-color .2s ease-in;
 	-moz-transition: background-color .2s ease-in;
 	-webkit-transition: background-color .2s ease-in;
 	transition: background-color .2s ease-in;
	box-shadow: 3px 3px 3px 3px rgba(161, 159, 159, 0.5);
}

.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

.overlay h3{
  color: #f1f1f1;
  font-family: Futura-Medium;
}




.container {
  position: relative;
  padding-left: 35px;
  margin: 10%;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border-style: solid;
  border-width: 1px;
  border-color: #ccc;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: rgba(#ccc, 0.5);
  border-width: 2px;
}


/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: inline-block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 1px 1px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

hr {
  width: 60%;
  text-align: center;
  display: block;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

input, select, textarea {
    color: #ccc !important;
    font: Futura-Light !important;
}
input[type=text] {
    border: none;
    border-bottom: 2px solid #ccc;
}

input[type=text]:not(.browser-default):focus:not([readonly]){
  border: none;
  border-bottom: 2px solid #C4A833 !important;
  box-shadow: 0 1px 0 0 #C4A833;
}
input[type=text]:not(.browser-default):focus:not([readonly])+label{
  color: #C4A833 !important;
}



.center{
  text-align: center;
}

.form-icon{
  width: 35px;
}
.form{
  margin:  auto;
  text-align: center;
  width: 65%;
}

.btn-contacto{
    font-size: 1.6em;
    text-decoration: none;
    color: #fff;
    background-color: #C4A833 !important;
    text-align: center;
    letter-spacing: .5px;
    transition: .2s ease-out;
    cursor: pointer;
    font-family: Futura-Medium;
}

/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  border-bottom: 4px solid #ccc;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}
