.sliderFull {
    height: 100%;
    margin-bottom: 0px;
}

#icons{
	position: fixed;
	bottom: 50%;
	right: 5%;
	z-index: 10;

	.arrows{
		cursor: pointer;
		background-color: #E3E3E5;
		border-radius: 15px;
	}

}


#verMas{
	cursor: pointer;
	transition: 0.5s;
	width: 400px;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 100;
	background-color: #E3E3E5;
	height: 10%;
	h4{
		padding-top: 5px;
		font-family: Futura-Heavy;
		font-weight: 500;
		font-size: 1.3em;
		color: #3d4249

	}
	.arrow-up{
		height: 30px;
    width: 30px;
    float: right;
    padding-right: 5px;
    padding-bottom: 20px;
	}
	.arrow-down{
		height: 30px;
		width: 30px;
		float: right;
		padding-right: 5px;
		padding-top: 20px;
	}
	h5{
		padding-left: 60px;
		font-family: Futura-Heavy;
		font-size: 1.2em;
	}
	hr{
		width: 87%;
		 border: 1px solid #C4A833;
	}
	p{
		font-family: Futura-Light;
		padding: 0px 60px;
    text-align: left;
	}
	.menos{
    width: 100%;
    background-color: #DBDBDB;
    height: 120px;
    top: 0;
    position: absolute;
	}
	.menos h4{
		padding-top: 40px;
	}
}

#verMasAfter{
	cursor: pointer;
	display: none;
  height: 100%;
}
#mobile{
  display: none;
}


@media  screen and (max-width : 1024px)  {
 #web{
   display: none;
 }
 #mobile{
   display: block;
 }
 .slider{
   height: 400px !important;
 }

 #icons{
   position: relative;
   bottom: 200px;
   z-index: 10;
   right:0;
 	 .arrows{
   		cursor: pointer;
   		background-color: #E3E3E5;
   		border-radius: 15px;
   	}
    .right{
      float: right;
      margin-right: 10px;
    }
    .left{
      float: left;
      margin-left: 10px;
    }
  }
}
