<div id="fullpage">
    <div class="section fp-auto-height hidden" data-indicators="true"></div>
    <div class="section active" data-anchor="carousel-anchor" >
        <div class="slide" id="background-1" data-anchor="slide-1">
            <div class="content-container valign-wrapper">

            </div>
        </div>
        <div class="slide" id="background-2" data-anchor="slide-2">
            <div class="valign-wrapper content-container">
                <div class="valign" id="b2-content">
                    <h2 id="top">We are a digital product design and consultancy agency.</h2>
                    <h2 id="bottom">YES... WE CHARGE FOR DESIGN</h2>
                </div>
            </div>
        </div>
        <div class="slide" id="background-3" data-anchor="slide-3">
            <div class="content-container valign-wrapper">
                <img class="valign" id="we-are-bolt" src="images/we_are_bolt.svg" alt="we are bolt.">
            </div>
        </div>
    </div>

</div>
