<div id="web">
	<div class="sliderFull">
		<div class="slider fullscreen">
			<ul class="slides">
				<li><img  src="/images/Amenitites/1.jpg"></li>
				<li><img  src="/images/Amenitites/2.jpg" ></li>
				<li><img src="/images/Amenitites/3.jpg"></li>
			</ul>
		</div>
	</div>
	<div id="icons">
	  <img src="/icons/Flecha_Izquierda.svg" class="arrows" (click)="prevSlide()">
	  <img src="/icons/Flecha_Derecha.svg" class="arrows" (click)="nextSlide()">
	</div>

	<div id="verMas" class="center-align">
	  <div id="mas" (click)="openMas()">
	      <img src="/icons/Flecha_Arriba_Azul.svg" class ="arrow-up">
	      <h4>Ver más</h4>
	  </div>


	  <div id="verMasAfter" (click)="closeMas()">
	    <div id="menos" class="menos">
	      <img src="/icons/Flecha_Abajo_Azul.svg" class ="arrow-down">
	      <h4>Estilo de vida al aire libre</h4>
	  	</div>

			<div style="margin-top: 130px;">
		    <h5 class="left-align">Amenities</h5>
		    <hr>
		    <div class="center-align">
		    <p>Disfruta del asoleadero con mesas, jacuzzi, bar y un área de relajación que no podrás resistir.</p>
		      <br>
		      <p>Convive con tu familia y amigos en el jardín central con áreas para niños y adultos.</p>
		      <br>
		      <p>Parque Sinaloa te ofrece una casa club, gimnasio, área de talleres y terrazas para gozar con los que más quieres.</p>
		    </div>
		  </div>
		</div>
	</div>
</div>

<div id="mobile" class="mobilesection">
	 <h5 class="center-align title-mob">AMENITIES</h5>
	 <div class="left-align box">
	 <p>Disfruta del asoleadero con mesas, jacuzzi, bar y un área de relajación que no podrás resistir.</p>
		 <p>Convive con tu familia y amigos en el jardín central con áreas para niños y adultos.</p>
		 <p>Parque Sinaloa te ofrece una casa club, gimnasio, área de talleres y terrazas para gozar con los que más quieres.</p>
	 </div>

	<div class="box" style="padding: 15px 15px">
	<div class="slider">
		<ul class="slides">
			<li><img  src="/images/Amenitites/1.jpg"> <h5 class="foto-info">ASOLIADERO</h5></li>
			<li><img  src="/images/Amenitites/2.jpg"> <h5 class="foto-info">ASOLIADERO</h5></li>
			<li><img src="/images/Amenitites/3.jpg"> <h5 class="foto-info">ASOLIADERO</h5></li>
		</ul>
	</div>
	<div id="icons">
		<img src="/icons/Flecha_Izquierda.svg" class="arrows left" (click)="prevSlide()">
		<img src="/icons/Flecha_Derecha.svg" class="arrows right" (click)="nextSlide()">
	</div>
</div>

	 <button class="btn-contacto btn-large btn-web center-align" (click)="openNav()">¡ESTOY INTERESADO!</button>
	 <overlay></overlay>
</div>
