.background{
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
	position: fixed;
}

#background-1 {
	background: url('/images/Amenitites/1.jpg') no-repeat center center fixed;
}

#background-2 {
	background: url('/images/Amenitites/2.jpg') no-repeat center center fixed;
	.logo-over{
		position: fixed;
	  top: 0px !important;
	  left: 0px !important;
		width: 100px;
		padding-left: 25px;
	}
	.logo-over img{
	  width: 100%;
	}
}

#background-3 {
	background: url('/images/Amenitites/3.jpg') no-repeat center center fixed;
}

#icons{
	position: fixed;
	bottom: 50%;
	right: 5%;
	z-index: 10;

	.arrows{
		cursor: pointer;
		background-color: #E3E3E5;
		border-radius: 15px;
	}

}


#verMas{
	cursor: pointer;
	transition: 0.5s;
	width: 400px;
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 100;
	background-color: #E3E3E5;
	height: 10%;
	h4{
		padding-top: 5px;
		font-family: Futura-Heavy;
		font-weight: 500;
		font-size: 1.3em;
		color: #3d4249

	}
	.arrow-up{
		height: 30px;
    width: 30px;
    float: right;
    padding-right: 5px;
    padding-bottom: 20px;
	}
	.arrow-down{
		height: 30px;
		width: 30px;
		float: right;
		padding-right: 5px;
		padding-top: 20px;
	}
	h5{
		padding-left: 60px;
		font-family: Futura-Heavy;
		font-size: 1.2em;
	}
	hr{
		width: 87%;
		 border: 1px solid #C4A833;
	}
	p{
		font-family: Futura-Light;
		padding: 0px 60px;
    text-align: left;
	}
	.menos{
		background-color: #DBDBDB;
		height: 120px;
	}
	.menos h4{
		padding-top: 40px;
	}
}

#verMasAfter{
	cursor: pointer;
	visibility: hidden;
}
