<div id="fullpage">
  <div id="info">
    <div id="angelopolis">
       <h4 class="titulo">LOMAS DE  ANGELÓPOLIS</h4>
       <hr>
       <br>
       <h5>Cascatta II</h5>
       <h5>Mazatlán 5, Parque Sinaloa</h5>
       <h5>Santa Clara Ocoyucan, Puebla</h5>
    </div>
  </div>

  <div id="map">
    <div id="btnmap">
      <button type="button" id="btnang" class="active" style="margin-bottom:5px;" (click) = "angelopolis()">&nbsp; Angelopolis</button>
      <button type="button" id="btnsin" (click) = "sinaloa()">&nbsp; Parque Sinaloa</button>
    </div>
    <img src="/images/Ubicacion/Mapa_Angelopolis.jpg" id="imgmap">
  </div>
  <div id="background-1"></div>

</div>
