#fullpage{
  height: 100%;
  width: 100%;
  background-color: #E3E3E5;
}
#web{
  height: 100%;
}
#background-1 {
	height: 100%;
	width: 70%;
	background: url(/images/Ubicacion/1.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#info{
  margin-top: 20%;
  width: 30%;
  float: right;
  margin-left: 20px;
  text-align: center;
  font-family: Futura;

  h5{
      margin-top: 5px;
      font-size: 1.2em;
      color: #4C535F;
  }
  h4{
     font-size: 1.2em;
     margin-bottom: 0;
  }
}

#map{
  position:relative;
  margin-top: 10%;
  width: 40%;
  float: left;
  margin-left: 20%;
  img{
    border: 12px solid rgba(#C4A833, 0.7);
    width: 500px;
  }
}
#btnmap{
  margin-left: 12px;
  margin-top: 12px;
  position: absolute;
  button{
    background-color: #E3E3E5;
    border: none;
    display: block;
    font-size: 9px;
    width: 80px;
    text-align: left;
    font-family: Futura;
    padding: 5px 0;
  }
}
#ang button{
  margin-bottom: 5px;
}


 hr{
   width: 70%;
   border: 1px solid #C4A833;
 }


 #mobile{
   display: none;
 }

 #imgbig{
   display: none;
 }
 .imgfull{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 100;
   background-color: rgba(0, 0, 0, 0.7);
   width: 100%;
   img{
     height: 90%;
     margin-top: 3%;
     margin-left: 25%
   }
   .cross{
     position: absolute;
     top: 20px;
     right: 45px;
     font-size: 45px;
     color: #fff;
   }
 }


 @media  screen and (max-width : 1024px)  {
  #web{
    display: none;
  }
  #mobile{
    display: block;
  }
  h4{
    margin-top: 20px;
     font-size: 1.5em;
     margin-bottom: 0;
  }

  hr{
    width: 25%;
    border: 1px solid #C4A833;
  }
  .address{
    font-size: 1.4em;
    color: #4C535F;
  }

  #map {
    position: relative;
    width: 100%;
    margin: 0;
    img{
      width: 100%;
    }
  }
  #btnmap{
    button{
      font-size: 15px;
      width: 130px;
    }
  }
}
