<div class="row" id="footer">
	<div class="col s12 m4" id="left-div">
		<img id="bolt-rayo-footer" src="/logos/rayo_bolt_footer.svg" alt="wearebolt.co">
		<h4>wearebolt.co</h4>
	</div>
	<div class="col s12 m4" id="middle-div">
		<div class="row">
			<div class="col s4">
				<h5>Jobs</h5>
				<p>Apply here</p>
				<p>Reviews</p>
				<p>Delivery</p>
			</div>
			<div class="col s4">
				<h5>Press</h5>
				<p>Apply here</p>
				<p>Reviews</p>
				<p>Delivery</p>
			</div>
			<div class="col s4">
				<h5>Blog</h5>
				<p>Apply here</p>
				<p>Reviews</p>
				<p>Delivery</p>
			</div>
		</div>
	</div>
	<div class="col s12 m4" id="right-div">
		<div class="line"></div>
		<div class="row center" id="social">
			<div class="col s6 center"><a href="https://www.facebook.com/weareboltmx" target="_blank" title="facebook"><img src="/icons/icono_fb.svg" alt="facebook"></a></div>
			<div class="col s6 center"><a href="https://www.linkedin.com/company/25001996/" target="_blank" title="linkedin"><img src="/icons/icono_linkedin.svg" alt="linkedin"></a></div>
		</div>
	</div>
</div>