<div class="icon-bar">
	<div id="logo-nav" [routerLink]="['/']" [routerLinkActive]="['active']"><img src="/logos/Logo_Gris.svg" alt="Valeria" >
</div>
	<div class="hover row " style="position:relative;">
		<a [routerLink]="['/amenitites']" [routerLinkActive]="['active']" title="amenitites">
			<div class="col" style="width:132px;">
				<img [src]="'/icons/'+icons[0]" alt="Amenities" style="width: 80%; height: 80%;">

			</div>
			<div class="col" style="width:180px; position:absolute; top:0;">
				<p>AMENITITES</p>
			</div>
	  </a>
	</div>

	<div class="hover2 row" style="position:relative;">
		<a [routerLink]="['/departamentos']" [routerLinkActive]="['active']">
			<div class="col" style="width:132px;">
				<img [src]="'/icons/'+icons[1]" alt="Departamentos" style="width: 80%; height: 80%;">
			</div>
			<div class="col" style="width:180px; position:absolute; top:0;">
				<p>DEPARTAMENTOS</p>
			</div>
		</a>
 </div>

 <div class="hover3 row" style="position:relative;">
	<a [routerLink]="['/imagenes']" [routerLinkActive]="['active']">
			<div class="col" style="width:132px;">
				<img [src]="'/icons/'+icons[2]" alt="Imagenes" style="width: 80%; height: 80%;">
			</div>
			<div class="col" style="width:180px; position:absolute; top:0;">
				<p>IMÁGENES</p>
			</div>
		</a>
  </div>

	<div class="hover4 row" style="position:relative;">
		<a [routerLink]="['/ubicacion']" [routerLinkActive]="['active']">
			<div class="col" style="width:132px;">
				<img [src]="'/icons/'+icons[3]"alt="Ubicacion" style="width: 80%; height: 80%;">
			</div>
			<div class="col" style="width:180px; position:absolute; top:0;">
				<p>UBICACIÓN</p>
			</div>
		</a>
 </div>

 <div class="hover5 row" style="position:relative; margin-bottom:0">
	 <a [routerLink]="['/contacto']" [routerLinkActive]="['active']">
			<div class="col" style="width:132px;">
				<img [src]="'/icons/'+icons[4]" alt="Contacto" style="width: 80%; height: 80%;">
			</div>
			<div class="col" style="width:180px; position:absolute; top:0;">
				<p>CONTACTO</p>
			</div>
		</a>
 </div>
 </div>
