.icon-bar {
  position: absolute;
  margin-top:  30px;
}

.icon-bar a {
    background-color: #E3E3E5;
    width: 150px; /* Set a specific width */
    height: 90px;
    display: block; /* Make the links appear below each other instead of side-by-side */
    text-align: center; /* Center-align text */
    padding: 16px; /* Add some padding */
    margin-top:  20px;
    margin-bottom: 10px;
    transition: all 0.3s ease; /* Add transition for hover effects */
    font-size: 20px; /* Increased font-size */
}

.hover  p{
  display: none;
  font-family: Futura-Book;
  position: relative;
  transition: opacity 0.5s linear;
  color: #4C535F;
  font-size: 18px;
  float: right;
  padding-top: 28px;
  padding-bottom: 39px;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #E3E3E5;
}


.hover:hover p {
  top:0;
  margin: 0;
  visibility: visible;
  font-family: Futura-Book;
  position: relative;
  display:block;
  left: 140px;
  color: #4C535F;
  font-size: 18px;
  float: right;
  padding-top: 28px;
  padding-bottom: 35px;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #E3E3E5;
  width: 180px;
}


.hover2  p{
  display: none;
  font-family: Futura-Book;
  position: relative;
  transition: opacity 0.5s linear;
  color: #4C535F;
  font-size: 18px;
  float: right;
  padding-top: 28px;
  padding-bottom: 39px;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #E3E3E5;

}

.hover2:hover p {
  top:0;
  margin: 0;
  visibility: visible;
  font-family: Futura-Book;
  position: relative;
  display:block;
  left: 140px;
  color: #4C535F;
  font-size: 18px;
  float: right;
  padding-top: 28px;
  padding-bottom: 35px;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #E3E3E5;
  width: 180px;
}

.hover3  p{
  display: none;
  font-family: Futura-Book;
  position: relative;
  transition: opacity 0.5s linear;
  color: #4C535F;
  font-size: 18px;
  float: right;
  padding-top: 28px;
  padding-bottom: 39px;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #E3E3E5;

}

.hover3:hover p {
  top:0;
  margin: 0;
  visibility: visible;
  font-family: Futura-Book;
  position: relative;
  display:block;
  left: 140px;
  color: #4C535F;
  font-size: 18px;
  float: right;
  padding-top: 28px;
  padding-bottom: 35px;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #E3E3E5;
  width: 180px;
}


.hover4  p{
  display: none;
  font-family: Futura-Book;
  position: relative;
  transition: opacity 0.5s linear;
  color: #4C535F;
  font-size: 18px;
  float: right;
  padding-top: 28px;
  padding-bottom: 39px;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #E3E3E5;
}

.hover4:hover p {
  top:0;
  margin: 0;
  visibility: visible;
  font-family: Futura-Book;
  position: relative;
  display:block;
  left: 140px;
  color: #4C535F;
  font-size: 18px;
  float: right;
  padding-top: 28px;
  padding-bottom: 35px;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #E3E3E5;
  width: 180px;
}


.hover5  p{
  display: none;
  font-family: Futura-Book;
  position: relative;
  transition: opacity 0.5s linear;
  color: #4C535F;
  font-size: 18px;
  float: right;
  padding-top: 28px;
  padding-bottom: 39px;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #E3E3E5;
}

.hover5:hover p {
  top:0;
  margin: 0;
  visibility: visible;
  font-family: Futura-Book;
  position: relative;
  display:block;
  left: 140px;
  color: #4C535F;
  font-size: 18px;
  float: right;
  padding-top: 28px;
  padding-bottom: 35px;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #E3E3E5;
  width: 180px;
}
