.icon-bar {
  position: absolute;
  margin-top:  30px;
  z-index: 10;
  height: 90%;
}

.icon-bar a {
    background-color: #E3E3E5;
    width: 136px; /* Set a specific width */
    height: 80px;
    display: block; /* Make the links appear below each other instead of side-by-side */
    padding: 16px; /* Add some padding */
    margin-top:  20px;
    margin-bottom: 10px;
    transition: all 0.3s ease; /* Add transition for hover effects */
    font-size: 20px; /* Increased font-size */
}


.hover  p{
  display: none;
}


.hover:hover p {
  top:0;
  margin: 0;
  visibility: visible;
  font-family: Futura-Book;
  position: relative;
  display:block;
  left: 120px;
  color: #4C535F;
  font-size: 18px;
  float: right;
  padding-top: 25px;
  padding-bottom: 28px;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #E3E3E5;
  width: 170px;
}


.hover2  p{
  display: none;
}

.hover2:hover p {
  top:0;
  margin: 0;
  visibility: visible;
  font-family: Futura-Book;
  position: relative;
  display:block;
  left: 120px;
  color: #4C535F;
  font-size: 18px;
  float: right;
  padding-top: 25px;
  padding-bottom: 28px;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #E3E3E5;
  width: 170px;
}

.hover3  p{
  display: none;
}

.hover3:hover p {
  top:0;
  margin: 0;
  visibility: visible;
  font-family: Futura-Book;
  position: relative;
  display:block;
  left: 120px;
  color: #4C535F;
  font-size: 18px;
  float: right;
  padding-top: 25px;
  padding-bottom: 28px;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #E3E3E5;
  width: 170px;
}


.hover4  p{
  display: none;
}

.hover4:hover p {
  top:0;
  margin: 0;
  visibility: visible;
  font-family: Futura-Book;
  position: relative;
  display:block;
  left: 120px;
  color: #4C535F;
  font-size: 18px;
  float: right;
  padding-top: 25px;
  padding-bottom: 28px;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #E3E3E5;
  width: 170px;
}


.hover5  p{
  display: none;
}

.hover5:hover p {
  top:0;
  margin: 0;
  visibility: visible;
  font-family: Futura-Book;
  position: relative;
  display:block;
  left: 120px;
  color: #4C535F;
  font-size: 18px;
  float: right;
  padding-top: 25px;
  padding-bottom: 28px;
  padding-left: 15px;
  padding-right: 10px;
  background-color: #E3E3E5;
  width: 170px;
}

#logo-nav{
  cursor: pointer;
  visibility: hidden;
  width: 100px;
  padding-left: 25px;
}
