.hidde {
	display: none;
}

.display {
	display: block;
}

.fp-slidesNav ul li a span {
	background: red;
}

#background-1 {
	background-color: #E9E9E9;
	background-image: url('/images/estatua_principal.png');
	background-position: left bottom;
	background-repeat: no-repeat;

	h2 {
		text-align: center;
	}
}

#background-2 {
	background-color: #F5E028;
	margin-bottom: 0px;

	#b2-content {
		text-align: center;
		margin: 0 auto;
		padding: 10px;
	}

	.col {
		padding: 0;
	}

	#top {
		font-family: 'Mermaid-Bold';
	}

	#bottom {
		font-family: 'Palatino-Roman';
	}

	#photo-container {
		display: flex;
    	align-items: center;
	}

	img {
		width: 100%;
    	margin-left: auto;
	}
}

#background-3 {
	background-color: #000000;

	img {
		width: 100%;
		text-align: center;
		padding-right: 20px;
		padding-left: 20px;
		margin: 0 auto;
	}
}

#sneak-peek {
	height: 420px;
	background-color: #F5E028;

	h1 {
		font-family: 'Mermaid-Bold';
		color: #000000;
		margin-top: 0;
	}
}

#projects {
	background-color: #F0F0F0;
	min-height: 900px;

	#projects-wrapper {
		width: 100%;
		margin: 0 auto;
		background-color: #FFFFFF;
		-webkit-box-shadow: 0px 5px 9px 0px rgba(179,179,179,1);
		-moz-box-shadow: 0px 5px 9px 0px rgba(179,179,179,1);
		box-shadow: 0px 5px 9px 0px rgba(179,179,179,1);
	}

	.box {
    	position: relative;
    	padding: 0;

    	.box-image {
    		max-width: 100%;
    		vertical-align: middle;
    	}

    	.box-wrap {
    		top: 0; bottom: 0; left: 0; right: 0;
    		position: absolute;
    		opacity: 0.0;
    		background-color: rgba(33, 33, 33, 0.7);
    		transition: 0.3s;
            -webkit-transition: 0.3s;
		    -moz-transition: 0.3s;
		    -o-transition: 0.3s;
		    -ms-transition: 0.3s;

    		.text {
    			margin: 0 auto;
    			text-align: center;
    		}

    		h6 {
    			font-family: 'Palatino-Bold';
    			color: #FFFFFF;
    		}

    		p {
    			font-family: 'Palatino-Italic';
    			margin-top: 0px;
    			margin-bottom: 0px;
    			color: #FFFFFF;
    		}
    	}

    	.box-wrap:hover {
    		opacity: 1.0;
    	}
	}
}

/* Smartphones */
@media only screen and (max-width: 600px) {

	#background-1 {

		h2 {
			margin: 0 auto;
			font-family: 'Mermaid-Bold';
			font-size: 50px;
			color: #FFFFFF;
		}
	}

	#background-2 {

		#top {
			font-size: 30px;
		}

		#bottom {
			font-size: 18px;
		}
	}

	#background-3 {

		img {
			max-width: 500px;
		}
	}

	#sneak-peek {
		padding-top: 160px;
	}

	#projects {
		padding: 1px 0 50px 0;

		#projects-wrapper {
			margin-top: -40px;
			padding-bottom: 0;
		}

		.box {

			.box-image {
	    	}

			h6 {
				font-size: 17px;
			}

			p {
				font-size: 16px;
			}
		}
	}
}

/* Tablet */
@media only screen and (min-width: 600px) {

	#background-1 {
		background-size: cover;

		h2 {
			margin: 0 auto;
			font-family: 'Mermaid-Bold';
			font-size: 50px;
			color: #FFFFFF;
		}
	}

	#background-2 {

		#top {
			font-size: 40px;
		}

		#bottom {
			font-size: 25px;
		}
	}

	#background-3 {

		img {
			max-width: 500px;
		}
	}

	#sneak-peek {
		padding-top: 115px;
	}

	#projects {
		padding: 1px 0 120px 0;

		#projects-wrapper {
			margin-top: -130px;
		}

		.box {

			h6 {
				font-size: 21px;
			}

			p {
				font-size: 21px;
			}
		}
	}
}

@media only screen and (max-width: 992px) {

	.box-wrap {
		opacity: 1.0 !important;
		background-color: rgba(33, 33, 33, 0.3) !important;
	}
}

/* Big tablet */
@media only screen and (min-width: 992px) {

	.box {

		h6 {
			font-size: 21px;
		}

		p {
			font-size: 21px;
		}
	}

	#background-2 {

		#top {
			font-size: 36px;
		}

		#bottom {
			font-size: 21px;
		}
	}

}

/* Desktop */
@media only screen and (min-width: 1200px) {

	#background-1 {
		background-size: contain;
	}

	#background-2 {

		#top {
			font-size: 40px;
		}

		#bottom {
			font-size: 25px;
		}
	}
}

@media only screen and (min-width: 1500px) {

	#background-1 {

		h2 {
			font-size: 80px;
		}
	}

	#background-2 {

		#top {
			font-size: 55px;
		}

		#bottom {
			font-size: 35px;
		}		
	}

	#background-3 {

		img {
			max-width: 600px;
		}
	}
}