<div id="fullpage">
    <div class="section fp-auto-height hidden" data-anchor="hidden-anchor"></div>
    <div class="section active" data-anchor="carousel-anchor">
        <div class="slide" id="background-1" data-anchor="slide-1">
            <div class="content-container valign-wrapper">
                <h2 class="valign">We are creators</h2>
            </div>
        </div>
        <div class="slide" id="background-2" data-anchor="slide-2">
            <div class="valign-wrapper content-container">
                <div class="valign" id="b2-content">
                    <h2 id="top">We are a digital product design and consultancy agency.</h2>
                    <h2 id="bottom">YES... WE CHARGE FOR DESIGN</h2>
                </div>
            </div>
        </div>
        <div class="slide" id="background-3" data-anchor="slide-3">
            <div class="content-container valign-wrapper">
                <img class="valign" id="we-are-bolt" src="images/we_are_bolt.svg" alt="we are bolt.">
            </div>
        </div>
    </div>
    <div class="section fp-auto-height" data-anchor="content-anchor">
        <div class="center" id="sneak-peek">
            <h1>Sneak peek. Surprise!</h1>
        </div>

        <!-- La portada del cover (ej. /images/covers/flirt.jpg) deben de ser de 900 x 900 px -->
        <div id="projects">
            <div class="container">
                <div class="row" id="projects-wrapper">
                    <div class="col s6 m4 box">
                        <a [routerLink]="['/project', 'flirt']" title="Flirt">
                            <img class="box-image" src="/images/covers/flirt.jpg" alt="Flirt">
                            <div class="box-wrap valign-wrapper">
                                <div class="valign text">
                                    <h6>Flirt</h6>
                                    <p>Cloud Platform</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col s6 m4 box">
                        <a [routerLink]="['/project', 'valiara']" title="Valiara">
                            <img class="box-image" src="/images/covers/valiara.jpg" alt="Valiara">
                            <div class="box-wrap valign-wrapper">
                                <div class="valign text">
                                    <h6>Valiara</h6>
                                    <p>Luxury Residential</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col s6 m4 box">
                        <a [routerLink]="['/project', 'kii']" title="Wifi de Verdad">
                            <img class="box-image" src="/images/covers/wifi.jpg" alt="Wifi de Verdad">
                            <div class="box-wrap valign-wrapper">
                                <div class="valign text">
                                    <h6>Wifi de Verdad</h6>
                                    <p>Internet Solutions</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col s6 m4 box">
                        <a [routerLink]="['/project', 'new-fiction-films']" title="New Fiction Films">
                            <img class="box-image" src="/images/covers/new_fiction_films.jpg" alt="New Fiction Films">
                            <div class="box-wrap valign-wrapper">
                                <div class="valign text">
                                    <h6>New Fiction Films</h6>
                                    <p>Film Production</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col s6 m4 box">
                        <a [routerLink]="['/project', 'iniciativa-luz']" title="Iniciativa Luz">
                            <img class="box-image" src="/images/covers/iniciativa_luz.png" alt="Iniciativa Luz">
                            <div class="box-wrap valign-wrapper">
                                <div class="valign text">
                                    <h6>Iniciativa Luz</h6>
                                    <p>Big Data Platform</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col s6 m4 box">
                        <a [routerLink]="['/project', 'luuma']" title="Luuma">
                            <img class="box-image" src="/images/covers/luuma.jpg" alt="Luuma">
                            <div class="box-wrap valign-wrapper">
                                <div class="valign text">
                                    <h6>Luuma</h6>
                                    <p>Solar Energy</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col s6 m4 box">
                        <a [routerLink]="['/project', 'navento']" title="Navento">
                            <img class="box-image" src="/images/covers/navento.jpg" alt="Navento">
                            <div class="box-wrap valign-wrapper">
                                <div class="valign text">
                                    <h6>Navento</h6>
                                    <p>Booking Platform</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col s6 m4 box">
                        <a [routerLink]="['/project', 'dosal-duclaud']" title="Dosal & Duclaud">
                            <img class="box-image" src="/images/covers/dd.jpg" alt="Dosal & Duclaud">
                            <div class="box-wrap valign-wrapper">
                                <div class="valign text">
                                    <h6>Dosal &#38; Duclaud</h6>
                                    <p>Law Firm</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col s6 m4 box">
                        <a [routerLink]="['/project', 'fitry']" title="Fitry">
                            <img class="box-image" src="/images/covers/fitry.png" alt="Fitry">
                            <div class="box-wrap valign-wrapper">
                                <div class="valign text">
                                    <h6>Fitry</h6>
                                    <p>Footwear AR</p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <footer></footer>
    </div>
</div>