<div class="row" id="what">
	<div class="col s12 m5 l6 valign-wrapper hide-on-small-only" id="links">
		<div class="valign" id="menu">
			<h1 class="link active" id="believe-link" data-menuanchor="believe-anchor">
				<a (click)='linkClick("believe-anchor")'>we believe</a>
			</h1>
			<h1 class="link" id="create-link" data-menuanchor="create-anchor">
				<a (click)='linkClick("create-anchor")'>we create</a>
			</h1>
			<h1 class="link" id="launch-link" data-menuanchor="launch-anchor">
				<a (click)='linkClick("launch-anchor")'>we launch</a>
			</h1>
			<h1 class="link" id="remain-link" data-menuanchor="remain-anchor">
				<a (click)='linkClick("remain-anchor")'>we remain</a>
			</h1>
			<h1 class="link" id="thrive-link" data-menuanchor="thrive-anchor">
				<a (click)='linkClick("thrive-anchor")'>we thrive</a>
			</h1>
		</div>
	</div>
	<div class="col s12 m7 l6" id="content" (scroll)="onScrollEvent($event)">

		<!-- WE BELIEVE -->
	    <div class="stages-item section" id="believe" data-anchor="believe-anchor">
	    	<div class="stage-header">
		      	<h5 id="believe-checker">CONCEPTUALIZACIÓN</h5>
		      	<h6>Creemos en ti y en tu idea.</h6>
		      	<div class="row services">
		      		<div class="col s12">
		      			<p>Diagnóstico / evaluación de idea o producto</p>
				      	<p>Estrategia de fondeo / rondas de inversión</p>
				      	<p>Planes de acción / ejecución</p>
		      		</div>
		      	</div>
	      	</div>
	      	<div class="image-container" id="wb-image-container">
		      	<img src="/images/what/wb_personaje.png" id="wb-personaje" alt="we believe">
		      	<img src="/images/what/wb_personaje_atras.png" id="wb-personaje-atras" alt="we believe">
		      	<img src="/images/what/wb_curvas.png" id="wb-curvas" alt="we believe">
	      	</div>
	      	<div class="stage-footer hide-on-small-only">
	      		<p class="phrase">“Through the gift of light,</p>
	      		<p class="phrase">I established in them blind hopes</p>
	      		<p class="phrase">which led them to discover the arts.”</p>
	      		<p class="author">Prometheus</p>
	      	</div>
	    </div>

	    <!-- WE CREATE -->
	    <div class="stages-item section" id="create" data-anchor="create-anchor">
	    	<div class="stage-header">
		      	<h5 id="create-checker">DESARROLLO DE PRODUCTO</h5>
		      	<h6>Te ayudamos a hacerla realidad.</h6>
		      	<div class="row services">
		      		<div class="col s4">
		      			<p>Product Design</p>
		      			<p>UI/UX</p>
		      			<p>Back end</p>
		      			<p>Front end</p>
		      		</div>
		      		<div class="col s8 left-align">
		      			<p>Web Apps</p>
				      	<p>API's</p>
				      	<p>Bots</p>
		      		</div>
		      	</div>
	      	</div>
	      	<div class="image-container" id="wc-image-container">
		      	<img src="/images/what/wc_personaje.png" id="wc-personaje" alt="we create">
		      	<img src="/images/what/wc_curvas.png" id="wc-curvas" data-aos="fade-down" alt="we create">
	      	</div>
	      	<div class="stage-footer hide-on-small-only">
	      		<p class="phrase">“He was a wise man,</p>
	      		<p class="phrase">he who invented God.”</p>
	      		<p class="author">Plato</p>
	      	</div>
	    </div>


	    <!-- WE LAUNCH -->
	    <div class="stages-item section" id="launch" data-anchor="launch-anchor">
	    	<div class="stage-header">
	      		<h5 id="launch-checker">GO TO MARKET STRATEGY</h5>
	      		<h6>Llegamos a tu audiencia meta.</h6>
	      		<div class="row services">
		      		<div class="col s12">
			      		<p>Estrategia de comunicación</p>
			      		<p>Social Media</p>
			      		<p>Identidad de marca</p>
			      		<p>Pricing</p>
		      		</div>
		      	</div>
	      	</div>
	      	<div class="image-container" id="wl-image-container">
		      	<img src="/images/what/wl_curvas_atras.png" id="wl-curvas-atras" alt="we launch">
		      	<img src="/images/what/wl_personaje.png" id="wl-personaje" alt="we launch">
		      	<img src="/images/what/wl_curvas_adelante.png" id="wl-curvas-adelante" alt="we launch">
	      	</div>
	      	<div class="stage-footer hide-on-small-only">
	      		<p class="phrase">“It is not enough to conquer;</p>
	      		<p class="phrase">one must learn to seduce.”</p>
	      		<p class="author">Voltaire</p>
	      	</div>
	    </div>


	    <!-- WE REMAIN -->
	    <div class="stages-item section" id="remain" data-anchor="remain-anchor">
	    	<div class="stage-header">
	      		<h5 id="remain-checker">MARKETING DIGITAL</h5>
	      		<h6>Lo mantenemos relevante.</h6>
	      		<div class="row services">
		      		<div class="col s12">
			      		<p>Optimización de la tasa de conversión (CRO)</p>
			      		<p>Optimización de motores de búsqueda (SEO)</p>
			      		<p>Marketing de motores de búsqueda (SEM)</p>
		      		</div>
		      	</div>
	      	</div>
	      	<div class="image-container" id="wr-image-container">
	      		<img src="/images/what/wr_personaje.png" id="wr-personaje" alt="we remain">
		      	<img src="/images/what/wr_curvas.png" id="wr-curvas" alt="we remain">
	      	</div>
	      	<div class="stage-footer hide-on-small-only">
	      		<p class="phrase">“Do not ask who I am</p>
	      		<p class="phrase">and do not ask me to</p>
	      		<p class="phrase">remain the same.”</p>
	      		<p class="author">Michel Foucault</p>
	      	</div>
	    </div>

	    <!-- WE THRIVE -->
	    <div class="stages-item section" id="thrive" data-anchor="thrive-anchor">
	    	<div class="stage-header">
		      	<h5 id="thrive-checker">ANALYTICS</h5>
		      	<h6>Y en constante evolución.</h6>
		      	<div class="row services">
		      		<div class="col s12">
				      	<p>Reporteo de métricas</p>
				      	<p>Visualización de datos (generación de dashboards)</p>
				      	<p>Pruebas de aceptación del usuario (UAT): (A/B testings, heat-mapping tools)</p>
				      	<p>Monetización de datos</p>
		      		</div>
		      	</div>
		    </div>
		    <div class="image-container" id="wt-image-container">
		    	<img src="/images/what/wt_curvas_atras.png" id="wt-curvas-atras" alt="we thrive">
	      		<img src="/images/what/wt_personaje.png" id="wt-personaje" alt="we thrive">
		      	<img src="/images/what/wt_curvas_adelante.png" id="wt-curvas-adelante" alt="we thrive">
	      	</div>
		    <div class="stage-footer hide-on-small-only">
	      		<p class="phrase">“Problems that remain persistently insoluble</p>
	      		<p class="phrase">should always be suspected</p>
	      		<p class="phrase">as questions asked in the wrong way.”</p>
	      		<p class="author">Alan Watts</p>
	      	</div>
	    </div>


	</div>
</div>